{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique vitaminée{% endblock %}

{% block content %}
<h1>Mon compte</h1>
    Bienvenue sur votre compte {{ app.user.firstname }} ! <br>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <br><br>

    <a href="{{ path('account_password') }}">Modifier mon mot de passe<a/><br>
    <a href="{{ path('account_address_add') }}">Ajouter mes adresses</a><br>
    <a href="{{ path('account_address_add') }}">Mes commandes</a><br/>

    <br>

{% endblock %}
