{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique vitaminée{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
<a href="{{ path('account') }}">Retour à mon compte<a/>
<br>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
<br>
{% endblock %}
